* {
  margin: 0;
  padding: 0;
}

.outer_box {
  width: 650px;
  height: 520px;
  background-color: #3498db;
  margin: auto;
  margin-top: 160px;
  border-radius: 10px;
  position: relative;
}

.outer_box .inner_box {
  width: 130px;
  height: 130px;
  position: absolute;
  left: 270px;
  top: 150px;
  background-color: #fff;
  animation-name: box-effect;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes box-effect {
  0% {
    transform: translateY(0px) rotate(0deg) scale(1);
  }

  33.3% {
    transform: translateY(70px) rotate(360deg) scale(1.3, 0.5);
  }
  66.6% {
    transform: scale(1.3, 1);
  }
  100% {
    transform: translateY(0px) rotate(360deg) scale(1);
  }
}
